# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Type checking
.mypy_cache/
.pyright/

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# OS
.DS_Store

# Environment variables
.env
.env.*

# Build
build/
dist/
*.egg-info/